services:
  adorable-star:
    command: "/app/main"
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: "512M"
    image: g-qerw8644-docker.pkg.coding.net/adorable-star/docker/adorable-star:latest
    container_name: Adorable-Star
    restart: on-failure
    network_mode: host
    volumes:
      - ./config.yaml:/app/config.yaml
      - ./storage/:/app/storage/
      - ./log/:/app/log/

version: "3"
